@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Metal+Mania|Stint+Ultra+Condensed&display=swap');


:root {
    --main-font: 'Stint Ultra Condensed', cursive;
    --script-font: 'Dancing Script', cursive;
    --title-font: 'Metal Mania', cursive;

    --hogwarts-color: rgb(249, 199, 88, 1);

}
.container-fluid{
    max-width: 1200px;
    background-color: #252526!important;
}
html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
}

h1 {
    font-family: var(--title-font);
}

.navbar{
     position: sticky;
}

.navbar-brand {
    font-family: var(--title-font);
    font-size: 3rem;
    color: var(--hogwarts-color) !important;
    padding-left: 1rem;
}
a.nav-link{
    font-size: 1.7rem;
    color: var(--hogwarts-color) !important;
    padding-left: 1rem!important;
}
a.nav-link:hover{
   color: rgb(241, 172, 23);
}
.bg-dark {
    background-color: #252526!important;
}


.landingPage{
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/hogwarts-logo5.png')center center no-repeat;
    background-size: cover;
    height: 100vh;  
}

.landingPage img{
     max-width: 1000px;
}

#sorting{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    padding: 0;
    cursor: pointer;
}

.houseInfo{
    position: absolute;
    padding-bottom: 1rem;
    bottom: 0px;
    width: 100%;
    color: var(--hogwarts-color);
}
#house{
    text-align: center;
    font-family: var(--title-font);
    font-size: 3rem;
}

#houseInfo{
    margin: 0;
    font-family: var(--main-font);
    font-size: 1rem;
    color: inherit;
}
.houseInfoItem {
    margin: 0;
    font-size: 1.4rem;
}

/* the different background banners */

.Ravenclaw {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/ravenclaw-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.Slytherin {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/slytherin-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.Gryffindor {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/griffendor-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.Hufflepuff {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/hufflepuff-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.imgPaper {
    background: url('../img/bg-paper.png')center center no-repeat;
    background-size: cover;
}

.houseMates{
    padding: 1rem 0 2rem 0;
}

.dumbledoresArmy{
    color: var(--hogwarts-color);
    background-color: #1c1c1d;
    padding: 1rem 0 2rem 0; 
}

#dumbledorsArmy{}

.Dcharacter{
    padding: 0 1rem;
    display: inline-block!important;
    width: 200px;
}

.deatheaters{
    color: var(--hogwarts-color);
    background-color: #252526;
    padding: 1rem 0 2rem 0; 
}

.DECharacter{
    color: inherit;
    padding: 0 1rem;
    display: inline-block!important;
    width: 200px;
}
