@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Metal+Mania|Stint+Ultra+Condensed&display=swap');


:root {
    --main-font: 'Stint Ultra Condensed', cursive;
    --script-font: 'Dancing Script', cursive;
    --title-font: 'Metal Mania', cursive;

    --hogwarts-color: rgb(249, 199, 88, 1);

}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
}

h1 {
    font-family: var(--title-font);
}
.navbar-brand {
    font-family: var(--title-font);
    font-size: 3rem;
    color: var(--hogwarts-color) !important;
    padding-left: 1rem;
}
a.nav-link{
    font-size: 1.7rem;
    color: var(--hogwarts-color) !important;
    padding-left: 1rem!important;
}
a.nav-link:hover{
    background-color: #25292d;
}

.landingPage{
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/hogwarts-logo5.jpg')center center no-repeat;
    background-size: cover;
    height: 100vh;  
}

.landingPage img{
     max-width: 1000px;
}

#sorting{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    padding: 0;
    cursor: pointer;
}

.houseInfo{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: var(--hogwarts-color);
    background-color: rgb(0, 0, 0, .6);
}
#house{
    text-align: center;
    font-family: var(--title-font);
    font-size: 3rem;
}

#houseInfo{
    margin: 0;
    font-family: var(--main-font);
    font-size: 1rem;
    color: inherit;
}
.houseInfoItem {
    margin: 0;
    font-size: 1.4rem;
}

/* the different background banners */

.Ravenclaw {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/ravenclaw-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 1000px;
}

.Slytherin {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/slytherin-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 1000px;
}

.Gryffindor {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/griffendor-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 1000px;
}

.Hufflepuff {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background: url('../img/hufflepuff-logo.png')center center no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 1000px;

}

.imgPaper {
    background: url('../img/bg-paper.png')center center no-repeat;
    background-size: cover;
}

.dumbledoresArmy{
    display: inline!important;
    
}

#dumbledorsArmy{
   
    
}
.Dcharacter{
    display: inline-block!important;
    width: 200px;
}
